*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#3a10e5;
    --box-shadow:0px 3px 5px 0px rgba(0,0,0,0.34);
    --hover-shadow:0px 4px 4px 0px rgba(3,3,3,0.561);
    --nav-shadow:0px 0px 10px 0px rgba(0,0,0,0.100);
    --light-black:#141c3a;
    --bg-color:#FFF0E5;
}

body{
    font-family: "Nunito",sans-serif;
    background-color:var(--bg-color);
}
.header{
    margin-bottom: -15px;
}
.header h1{
    padding: 0 30px;
    font-size: 25px;
}
.container{
    width: 28%;
    margin: 100px auto;
    padding-right: 30px;
}
form{
    display:flex;
    flex-direction: column;
    margin: 20px 25px 0 30px;
    
}
form label{
    margin: 15px 0 2px 0;
    font-size: 13px;
}
form input[type="text"], input[type="password"]{
    height: 55px;
    margin: 5px 0;
    border: 0.5px solid #10162F;
    border-radius: 3px;
    padding: 0px 15px;
    font-size: 20px;
    font-family: "Nunito",sans-serif;
    transition: 0.5s;
    /* transition: background-color 350ms ease-in-out, box-shadow 350ms ease-in-out; */
}
form a{
    margin: 20px 0 10px;
    text-decoration: underline;
    color: var(--main-color);
    font-weight: bolder;
    font-size: 15px;
}
a:hover {
    text-decoration: none;
  }
/* form input[type="text"], input[type="password"]:focus { */
    /* border: 1px solid var(--main-color);       */
/* } */
form input[type="submit"]{
    height: 40px;
    width: 80px;
    margin-top: 20px;
    background: var(--main-color);
    font-size: 15px;
    font-weight: bolder;
    font-family: "Nunito",sans-serif;
    border: none;
    border-radius: 5px;
    color: white;
    /* box-shadow: var(--box-shadow); */
    cursor: pointer;
}
form input[type="submit"]:hover{
    /* box-shadow: var(--hover-shadow); */
    background-color: #5533ff;

}
.footer{
    margin: 0 30px;
}
.footer h3{
    font-size: 15px;
    opacity: 0.9;
    margin: 30px 0px 0px;
}
.footer .images{
    display: flex;
    height: 10vh;
    align-items: center;
    margin: 10px 0px 20px 0px;
}
.footer .images img {
	width: 50px;
    height: 50px;
	border: 0.5px solid black;
	padding: 12px;
	margin: 8px;
    margin-left: 0px;
	transition: 0.3s ease;
	background-color: white;
}
.footer .images img:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.footer a{
    margin: 10px 0;
    display: inline;
    color: var(--main-color);
}
